@model IEnumerable<Sistema_turma.Models.Aluno>

<table>
    <thead>
        <tr>
            <th>Turma</th>
            <th>Nome</th>
            <th>Nota (prova1)</th>
            <th>Nota (prova2)</th>
            <th>Nota (prova3)</th>
            <th>Média</th>
        </tr>
    </thead>
    @foreach(Aluno a in Model)
    {
        <tr>
            <td>@a.Turma</td>
            <td>@a.Nome</td>
            <td>@a.Nota1</td>
            <td>@a.Nota2</td>
            <td>@a.Nota3</td>
            <td>@a.Media</td>
            <td>@ViewBag.Mensagem1</td>
        </tr>
    }
</table>

<p>@ViewBag.Mensagem</p>